<%- include('templates/header', {title: 'Projects - iamJarod' })%>

    <link rel="stylesheet" href="/css/projects.css">
    <main>
        <section class="hero-section">
            <div class="hero-label">My Work</div>
            <h1 class="hero-title">Data-Driven. Insightful. <br>Impactful.</h1>
            <p class="hero-description">Transforming complex data into actionable insights. Leveraged by Python pandas and BI platforms</p>
        </section>

        <div class="projects-container">
            <div class="projects-grid">
                <div class="project-card">
                    <img src="images/VPD_Crime_Analysis.png" alt="Crime Data Analysis" class="project-image">
                    <div class="project-info">
                        <h3 class="project-title">Vancouver Police Department Crime Analysis</h3>
                        <p class="project-description">A modern crime analysis dashboard using Microsoft Power BI.</p>
                    </div>
                </div>

                <div class="project-card">
                    <img src="images/VPD_Crime_Analysis.png" alt="Financial Data Analysis" class="project-image">
                    <div class="project-info">
                        <h3 class="project-title">Contoso Financial Analysis</h3>
                        <p class="project-description">Accessible and user-friendly government website built with modern
                            web standards and responsive design.</p>
                    </div>
                </div>

                <!-- Add more project cards as needed -->
            </div>
        </div>
    </main>
    <%- include('templates/footer')%>